/SampleF1/Obj
/SampleF1/Lis
/SampleF1/VC2017
/SmartOS/Tool/Config
/SmartOS/Tool/F1
/SmartOS/Tool/Update
/SmartOS/Tool/Log
/SmartOS/Tool/XScript_v2.6_20180804153258
/SmartOS/Tool/Update.config
*.Ace
*.log
/SampleF1/SmartOSF1_Lib.BAT
/SampleF1/JLinkLog.txt
/SampleF1/JLinkSettings.ini
